@import 'main.css';
@import 'responsive.css';
@import 'ember-power-select-bootstrap.css';
@import 'ember-cli-spinner.css';

.main-page-links img {
    width: 100%;
}

.accordion {
    position: relative;
    overflow: hidden;
}

.container {
    margin-bottom: 40px;
}

.btn.width-full {
    width: 100%;
}

/**
 * Taken from http://getbootstrap.com/css/#helper-classes-center
 */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-container-row {
    margin-bottom: 10px;
    background-color: #d8dade;
}

.search-container-row .ember-power-select-trigger {
    text-align: center;
}

.search-container-row .ember-power-select-status-icon {
    display: none;
}

td.number {
    text-align: right;
}

table.text-center td,
table.text-center th {
    text-align: center;
}

th.header {
    color: #545759;
    background-color: #d8dade;
}

.padded-table td,
.padded-table th {
    padding: 15px;
}

.search-and-filter label {
    margin-left: 15px;
    font-weight: normal;
}

body {
  background-color: #ffffff;
}

.navbar-inverse {
    background-color: #ffffff;
    border: none;
}

.nav > li > a {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a {
    /* Azul oscuro */
    color: #1b2b3a;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-header {
    padding: 15px 20px;
    /* Amarillo */
    background-color: #ffc80e;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

#footer {
    background-color: #1b2b3a;
    color: #ffffff;
}

#banner img {
    max-width: 1110px;
}

#descarga-app img {
    max-height: 50px;
}

#descarga-app {
    padding-bottom: 30px;
    padding-top: 30px;
    /* Gris pálido */
    background-color: #f1f1f2;
    margin-bottom: 0px;
}

#descarga-app-title {
    font-weight: bold;
    font-size: 36px;
    color: #1b2b3a;
}

.img-responsive.center {
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    /* Gris palidísimo */
    background-color: #e6e7e8;
}

nav > .container {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-candidator .list-inline > li a {
    padding: 15px;
    font-size: 16px;
    color: #1b2b3a;
}

.nav-candidator .list-inline > li a i.fa {
    margin-right: 10px;
    font-size: 18px;
}

.nav-candidator .list-inline > li {
    margin-left: 0px;
}

.color-gray {
    color: #e6e7e8;
}

.color-blue {
    color: #12a2e0;
}

.color-yellow {
    color: #ffc80e;
}

.color-light-blue {
    color: #75bbcc;
}

.btn-light-blue {
    background-color: #75bbcc;
    color: #FFFFFF;
}

 /* Perfiles */
.container-profile {
    background: #FFFFFF;
    color: #1b2b3a;
}

.profile-candidate {
    background-color: #FFFFFF;
    color: #1b2b3a;
}

.profile-candidate .table tbody > tr > td span {
    opacity: 1.0;
    font-weight: bold;
}

p.datos-abiertos {
    margin: 20px 0px;
}

.social-link-candidate {
    color: #1b2b3a;
}

#biografia-container {
    background-color: #1b2b3a;
    color: #FFFFFF;
    margin-top: 30px;
    padding-top: 20px;
}

.nav-candidator .list-inline > li.social-media {
    float: right;
    padding-top: 15px;
}

.nav-candidator .list-inline > li.social-media > div {
    margin-right: 10px;
}

.panel-default > .panel-heading {
    background-color: #75bbcc;
    padding: 25px;
    font-size: 16px;
}

.tabla-gradacion-content {
    font-size: 18px;
    font-weight: 900;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #1b2b3a;
}

.tabla-gradacion-content .icon-container {
    font-size: 30px;
    background-color: #75bbcc;
    color: #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 40px;
}

.tabla-gradacion-content > .row{
    padding: 25px;
    border-bottom: solid 1px #ddd;
}

.tabla-gradacion-content .text-container {
    padding-left: 25px;
    margin-top: 25px;
}

.tabla-gradacion-content .badge {
    font-size: 14px;
    padding: 11px 13px;
    background-color: #1b2b3a;
    margin-top: 20px;
}

.questionary {
    margin-top: 30px;
}
